[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
Sphinx = "*"

[packages]
src = {editable = true, path = "./"}
awscli = "*"
category-encoders = "*"
dirty-cat = "*"
fasttext = "==0.9.1"
insights-core = "*"
pandas = "*"
s3fs = "*"
scipy = "*"
sklearn = "*"
lightgbm = "*"
xgboost = "*"
Keras = "*"

[requires]
python_version = "3.6"
